html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
.conteiner{
    width: 100%;
    height: 100%;
    background-image: url("style/image/6222618.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blur-box{
    background: #ffffff10;
    width: 1200px;
    max-width: 900px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 40px;
}
.criar-conta-subdiv{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.criar-conta{
    display: row;
    background-color: #4d148976;
    border-radius: 20px 0px 0px 20px;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    color: #fefefe;
    font-family: Poppins;
}
h1#logintxt1{
    color: white;
    display: inline-block;
    font-size: 270%;
    font-weight: lighter;
    margin-top: 60px;
}
h1#logintxt2{
    color: #8653bd;
    font-size: 270%;
    font-weight: lighter;
    margin-top: 60px;
    display: inline-block;
}
#logintxt{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1#criar-contatxt1{
    font-weight: bold;
    font-size: 30px;
    margin-top: 33%;
}
h1#criar-contatxt2{
    font-weight: bold;
    margin-top: 28%;
    display: inline-block;
}
h1#criar-contatxt3{
    display: inline-block;
}
.btn-login-criar-conta{
    font-family: Poppins;
    font-weight: bold;
    color: #ececec;
    background: #00000083;
    width: 35%;
    height: 7%;
    margin-left: 80%;
    text-align: center;
    margin-top: 35px;
    box-shadow: 0px 0px 3px black;
    border-radius: 30px;
    border: #8f8097 solid;
    font-weight: lighter;
    font-size: 50%;
}
.btn-login-criar-conta:hover{
    cursor: pointer;
}
.input-criar-conta[type = "submit"]{
    font-family: Poppins;
    font-weight: bold;
    color: #ececec;
    background: #00000083;
    width: 70%;
    height: 10%;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0px 0px 3px black;
    border-radius: 30px;
    border: #8f8097 solid;
    font-weight: lighter;
    font-size: medium;
}
.input-criar-conta[type = "submit"]:hover{
    cursor: pointer;
    background: #ffffff20;

}
.login{

    width: 70%;
    display: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input#input1{
    font-size: 20px;
    border-radius: 30px;
    border: none;
    padding: 5px;
    width: 40%;
    height: 37px;
    background-color:#ffffff50;
    margin-top: 20px;
}
input::placeholder{
    color: #fefefeb3;
    text-align: center;
}
input#input2{
    font-size: 20px;
    border-radius: 30px;
    border: none;
    padding: 5px;
    width: 40%;
    height: 37px;
    background-color:#ffffff50;
    margin-top: 20px;
}
input[type = "checkbox"]{
    display: inline-block;

}
li{
    list-style-type: none;
}
label{
    margin-right: 5px;
    color: #fefefeca;
}
a{
    display: inline-block;
    color: #fefefeca;
    margin-left: 5px;
}
div#esqueceu-senha{
    margin-top: 7px;
}
.input-login{
    font-family: Poppins;
    font-weight: bold;
    color: #ececec;
    background: #8f809739;
    width:25%;
    height: 50px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 0px 3px black;
    border-radius: 30px;
    border: #4c0474 solid;
    font-weight: lighter;
    font-size: medium;
}
.input-login:hover{
    cursor: pointer;
    backdrop-filter: blur(99px);
    background: #ffffff32;;
}
